In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/My Drive/topic modelling dataset/metadata.csv")
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,5,6,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   cord_uid  ... s2_id
0  ug7v899j  ...   NaN
1  02tnwd4m  ...   NaN
2  ejv2xln0  ...   NaN
3  2b73a28n  ...   NaN
4  9785vg6d  ...   NaN

[5 rows x 19 columns]

In [ ]:
len(data.axes[0]),len(data.axes[1])

(171771, 1)

In [ ]:
data.columns

Index(['abstract'], dtype='object')

In [ ]:
data.describe()

       abstract
count    171771
unique   155474
top     Unknown
freq        128

In [ ]:
# data = data.drop(['cord_uid', 'sha', 'source_x', 'title', 'doi', 'pmcid', 'pubmed_id',
#        'license', 'publish_time', 'authors', 'journal', 'mag_id',
#        'who_covidence_id', 'arxiv_id', 'pdf_json_files', 'pmc_json_files',
#        ],axis=1)
data.head()

                                            abstract
0  OBJECTIVE: This retrospective chart review des...
1  Inflammatory diseases of the respiratory tract...
2  Surfactant protein-D (SP-D) participates in th...
3  Endothelin-1 (ET-1) is a 21 amino acid peptide...
4  Respiratory syncytial virus (RSV) and pneumoni...

In [ ]:
data.describe()

       abstract
count    171771
unique   155474
top     Unknown
freq        128

In [ ]:
data.isnull()

        abstract
0          False
1          False
2          False
3          False
4          False
...          ...
242157     False
242158     False
242159     False
242161     False
242163     False

[171771 rows x 1 columns]

In [ ]:
data.isnull().sum(axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
242157    0
242158    0
242159    0
242161    0
242163    0
Length: 171771, dtype: int64

In [ ]:
#removing all the missing values from the dataset
data.dropna(inplace=True)

In [ ]:
# data=data.drop(['index'],axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171771 entries, 0 to 242163
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   abstract  171771 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

In [ ]:
import copy
mod_data=data.copy()
mod_data.reset_index(inplace=True)
mod_data=mod_data.drop(['index'],axis=1)

In [ ]:
mod_data.head()

                                            abstract
0  OBJECTIVE: This retrospective chart review des...
1  Inflammatory diseases of the respiratory tract...
2  Surfactant protein-D (SP-D) participates in th...
3  Endothelin-1 (ET-1) is a 21 amino acid peptide...
4  Respiratory syncytial virus (RSV) and pneumoni...

In [ ]:
mod_data.tail()

                                                 abstract
171766  The descriptive distribution and phylogeny of ...
171767  INTRODUCTION: Recently, Italy has been heavily...
171768  Abstract Major incidents during the past 30 ye...
171769  Abstract The purpose of this discussion is to ...
171770  The newly identified SARS-CoV-2 has now been r...

In [ ]:
#importing all libraries useful for preprocessing of data which includes stopword removal, stemming, etc (using nltk library)

import nltk
nltk.download("popular")
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
import string
from nltk import PorterStemmer
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [ ]:
stemmer = PorterStemmer()
nltk.download("stopwords")

stopWords=list(stopwords.words("english"))
print(stopWords)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
print(len(mod_data.axes[0]))

171771

In [ ]:
mod_data.tail(10)

                                                 abstract
171761  Adolescents are constantly connected to their ...
171762  There is currently a global outbreak of corona...
171763  OBJECTIVES: The study investigated the links b...
171764  Face masks are an avenue to curb the spread of...
171765  BACKGROUND: In the absence of vaccines and est...
171766  The descriptive distribution and phylogeny of ...
171767  INTRODUCTION: Recently, Italy has been heavily...
171768  Abstract Major incidents during the past 30 ye...
171769  Abstract The purpose of this discussion is to ...
171770  The newly identified SARS-CoV-2 has now been r...

In [ ]:
#removing all the special characters
import re
for i in range(mod_data.shape[0]):
  mod_sentence = re.sub('[^a-zA-Z0-9]', ' ', mod_data['abstract'][i])

In [ ]:
#removing all the punctuation marks
for i in range(mod_data.shape[0]):
  mod_data['abstract'][i] = mod_data['abstract'][i].translate(str.maketrans('', '', string.punctuation))

In [ ]:
mod_data['abstract'][:5]

0    OBJECTIVE This retrospective chart review desc...
1    Inflammatory diseases of the respiratory tract...
2    Surfactant proteinD SPD participates in the in...
3    Endothelin1 ET1 is a 21 amino acid peptide wit...
4    Respiratory syncytial virus RSV and pneumonia ...
Name: abstract, dtype: object

In [ ]:
#removal of stopwords and stemming
mod_abstract=[]
for i in range(mod_data.shape[0]):
  s=mod_data['abstract'][i]
  s=s.lower()
  s=s.split()
  sentence=[stemmer.stem(w) for w in s if w not in set(stopwords.words("english"))]
  sentence = " ".join(sentence)
  mod_abstract.append(sentence)

In [ ]:
mod_abstract[:5]

['object retrospect chart review describ epidemiolog clinic featur 40 patient cultureproven mycoplasma pneumonia infect king abdulaziz univers hospit jeddah saudi arabia method patient posit pneumonia cultur respiratori specimen januari 1997 decemb 1998 identifi microbiolog record chart patient review result 40 patient identifi 33 825 requir admiss infect 925 communityacquir infect affect age group common infant 325 preschool children 225 occur yearround common fall 35 spring 30 threequart patient 775 comorbid twentyfour isol 60 associ pneumonia 14 35 upper respiratori tract infect 2 5 bronchiol cough 825 fever 75 malais 588 common symptom crepit 60 wheez 40 common sign patient pneumonia crepit 792 25 bronchial breath immunocompromis patient like nonimmunocompromis patient present pneumonia 89 versu 1631 p 005 24 patient pneumonia 14 583 unev recoveri 4 167 recov follow complic 3 125 die pneumonia infect 3 125 die due underli comorbid 3 patient die pneumonia pneumonia comorbid conclus result similar publish data except find infect common infant preschool children mortal rate pneumonia patient comorbid high',
 'inflammatori diseas respiratori tract commonli associ elev product nitric oxid no• increas indic no• depend oxid stress although no• known antimicrobi antiinflammatori antioxid properti variou line evid support contribut no• lung injuri sever diseas model basi biochem evid often presum no• depend oxid due format oxid peroxynitrit although altern mechan involv phagocytederiv heme protein myeloperoxidas eosinophil peroxidas might oper condit inflamm overwhelm literatur no• gener activ respiratori tract would beyond scope commentari review area comprehens instead focus recent evid concept presum contribut no• inflammatori diseas lung',
 'surfact proteind spd particip innat respons inhal microorgan organ antigen contribut immun inflammatori regul within lung spd synthes secret alveolar bronchiolar epitheli cell also express epitheli cell line variou exocrin duct mucosa gastrointestin genitourinari tract spd collagen calciumdepend lectin collectin bind surfac glycoconjug express wide varieti microorgan oligosaccharid associ surfac variou complex organ antigen spd also specif interact glycoconjug molecul express surfac macrophag neutrophil lymphocyt addit spd bind specif surfactantassoci lipid influenc organ lipid mixtur contain phosphatidylinositol vitro consist divers vitro activ observ spddefici transgen mice show abnorm accumul surfact lipid respond abnorm challeng respiratori virus bacteri lipopolysaccharid phenotyp macrophag isol lung spddefici mice alter circumstanti evid abnorm oxid metabol andor increas metalloproteinas express contribut develop emphysema express spd increas respons mani form lung injuri defici accumul appropri oligomer spd might contribut pathogenesi varieti human lung diseas',
 'endothelin1 et1 21 amino acid peptid divers biolog activ implic numer diseas et1 potent mitogen regul smooth muscl tone inflammatori mediat may play key role diseas airway pulmonari circul inflammatori lung diseas acut chronic review focu biolog et1 role lung diseas',
 'respiratori syncyti viru rsv pneumonia viru mice pvm virus famili paramyxovirida subfamili pneumoviru caus clinic import respiratori infect human rodent respect respiratori epitheli target cell respond viral infect specif alter gene express includ product chemoattract cytokin adhes molecul element relat apoptosi respons other remain incomplet understood review current understand mucos respons discuss sever genom approach includ differenti display revers transcriptionpolymeras chain reaction pcr gene array strategi permit us unravel natur respons complet systemat manner']

In [ ]:
import csv
with open('COVID-19_abstract', 'a') as file:
  writer=csv.writer(file)
  for val in mod_abstract:
    writer.writerow([val])